.default {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: 20px;

  &::after {
    content: '';
    background-color: map-get($colors, black);
    background-image: url(media/content-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.66;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
